:root{
    --bgcol:#172439;
    --fcol:#090c11;
    --gre:#0ED1BA;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcol);
}

.container{
    padding: 40px;
    border-radius: 15px;
    background-color: var(--fcol);
    color: white;
    width: 25%;
    min-width: 250px;
    box-shadow: 0px 0px 10px var(--fcol);
}

.h{
    text-align: center;
    margin-bottom: 20px;
}

.getdata{
    display: flex;
    column-gap: 5px;
}

.getdata input{
    width: 70%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 0;
}

.getdata button{
    flex-grow: 1;
    padding: 11px 7px;
    color: white;
    background-color: var(--gre);
    border: 0;
    border-radius: 5px;
}

.taskdis{
    background-color: #466165;
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 300px;
    overflow:scroll;
}

.task-itm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcol);
    padding: 10px;
    border-radius: 5px;
}

.task-itm button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #BE2E10;
    color: white;
}